* {
	box-sizing: border-box;
}

table, th, td {
	border: 1px solid black;
}

table {
	border-collapse: collapse;
}

input {
	width: 200px;
	padding: 5px;
	margin: 5px 0;
}

a.button {
	display: block;
	width: 200px;
	padding: 5px;
	border-radius: 5px;
	margin: 10px 0;
	text-decoration: none;
	text-align: center;
	background-color: blue;
	color: white;
	font-weight: bold;
}

ul {
	list-style-type: none;
}